.answers-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.answers-title{
    color: white;
    margin-top: 6%;
}

table{
    margin: 4% 0;
}

.table-header{
    background: linear-gradient(135deg,#CB0457, #9c0583);
    color: white;
}

.columna-header, .columna-header-small{
    padding: 1%;
    width: 16rem;
    font-weight: bolder;
    font-size: 1.2rem;
    border-radius: 5px;
    color: white;
}

.columna-respuesta{
    padding: 1.5%;
    color: white;
    border-bottom: 1px solid #CB0457;
}

.icon-grey{
    width: 200px;
    margin-top: 10%;
}

/*---------------RESPONSIVE--------------*/
@media (max-width: 840px) {
    .answers-title{
        margin-top: 12%;
    }

    .columna-header{
        width: 16rem;
    }

    .columna-header-small{
        width: 8.2rem;
    }

    .columna-respuesta{
        font-size: 1.1rem;
    }
        
    .icon-grey{
        width: 14rem;
        margin-top: 60%;
    }

}

@media (max-width: 500px) {
    table{
        margin: 10% 0;
    }

    .answers-title{
        margin-top: 16%;
    }

    .columna-header{
        width: 7rem;
        font-size: 0.6rem;
    }

    .columna-header-small{
        width: 4rem;
        font-size: 0.6rem;
    }

    .columna-respuesta{
        font-size: 0.6rem;
        overflow: hidden;
        padding: 2%;
    }
}

