.answers-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.answers-title{
    color: white;
    margin-top: 6%;
}

table{
    margin: 4% 0;
}

.table-header{
    background: linear-gradient(135deg,#CB0457, #9c0583);
    color: white;
}


.columna-header{
    padding: 1%;
    width: 16rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 5px;
    color: white;
}

.columna-respuesta{
    padding: 1.5%;
    font-weight: bolder;
    color: white;
    border-bottom: 1px solid #CB0457;
}

.icon-grey{
    width: 200px;
    margin-top: 10%;

}