.home-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Nanum Gothic', sans-serif;
}

.img-grey{
    position: fixed;
    top: 5px;
}


.btn-formulario{
    cursor: pointer;
    font-size: larger;
    width: 16rem;
    height: 3rem;
    color: rgba(255, 255, 255, 0.945);
    background: linear-gradient(135deg,#CB0457, #9c0583);
    border: 0.5px solid black;
    border-radius: 4px;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.336);
    margin-top: 18%;
    font-family: 'Nanum Gothic', sans-serif;
}

.btn-formulario:hover{
    letter-spacing: 0.5px;
}

.card-container{
    font-size: larger;
    margin-bottom: 4rem;
    color: white;
}

.question{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50rem;
}

.checkbox-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44rem;
    margin-top: 44%;
}

.submit-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 44rem;
}

.label {
    font-size: 1.6rem;
    margin: 30% 0 1% 0;
}

.label-checkbox{
    font-size: 1.6rem;
}

.inputCreate{
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    width: 44rem;
    font-size: 1.2rem;
    margin-top: 2%;
    color: rgba(255, 255, 255, 0.856);
    border-radius: 5px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%);
    cursor: pointer;
}

input[type="checkbox"] {
    margin: 3px 3px 3px 4px;
    height: 1.2rem;
    width: 1.2rem;
}

.inputCreate:focus{
    outline: none;
}

.button{
    background: linear-gradient(135deg,#CB0457, #9c0583);
    color: rgb(255, 255, 255);
    padding: 1% 1% 1% 2%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    font-family: 'Nanum Gothic', sans-serif;
}

.bottom-input-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 44rem;
}

.error{
    color: red;
    align-self: flex-start;
    margin: -2% 0 4% 0;
}

.error-checkbox{
    display: flex;
    color: red;
    padding-left: 21%;
}

.buttons-next-back{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    margin-top: 30%;
}

.icon-arrow{
    color: white;
    font-size: 1.6rem;
}


.btn-next, .btn-prev{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;    
    background-color: #CB0457;
    height: 2.2rem;
    width: 2.2rem;
    border: none;
}

.btn-prev{
    border-radius: 4px 0 0 4px;
    border-right: 1px solid rgba(255, 255, 255, 0.418);
}
.btn-next{
    border-radius: 0 4px 4px 0;
}

.btn-next:disabled, .btn-prev:disabled{  
    background-color: #cb045794;
    cursor: default;
}

.btn-next:disabled:hover, .btn-prev:disabled:hover{  
    background-color: #cb045794;
    cursor: default;
}
.btn-next:hover, .btn-prev:hover{
    background-color: #f80c6e;
}

.select{
    background-color: rgb(0, 0, 0);
    font-size: smaller;
}

.swal-modal {
    background-color: rgb(255, 255, 255);
    border: 3px solid white;
}

.btn-modal-close{
    background-color: #9c0583;
    color: white;
}

.btn-modal-answers{
    background-color: #CB0457;
    color:white;
}

.swal-button:not([disabled]):hover {
    background-color: #cb0457bd;
}

.swal-button:focus {
    box-shadow: none;
}



/*---------------RESPONSIVE--------------*/

@media (max-width: 840px) {
    .question{
        height: 60rem;
    }
    
    .card-container{
        margin-bottom: 14rem;
    }
}

@media (max-width: 500px) {
    .img-grey{
        width: 16rem;
    }

    .card-container{
        margin-bottom: 8rem;
    }

    .btn-formulario{
        width: 14rem;
        height: 3rem;
        font-size: 1.2rem;
        border-radius: 6px;
    }

    .question{
        height: 46rem;
    }

    .label {
        font-size: 1.2rem;
        margin: 2% 0 1% 0;
    }
    
    .label-checkbox{
        font-size: 1.1rem;
    }

    .inputCreate{
        width: 20rem;
        font-size: 1.1rem;
    }

    .checkbox-container{
        width: 20rem;
        margin-top: 44%;
    }
    
    .submit-container{
        width: 21.2rem;
    }
    
    .bottom-input-container{
        width: 20rem;
    }

    .buttons-next-back{
        margin-top: 50%;
    }
    
}